<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
	<application
        android:allowBackup="true"
        android:icon="@drawable/head_logo"
        android:label="Puzzle of the Day"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wid.SplashScreen"
            android:label="Puzzle of the Day"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.wid.MainMenu"
            android:label="Puzzle of the Day"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MainMenu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.wid.mathQues"
            android:label="Maths"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.mathQues" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.wid.logicQues"
            android:label="Logic"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.logicQues" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.wid.jumbleQues"
            android:label="Jumbled Word"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.jumbleQues" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.wid.riddleQues"
            android:label="Riddle"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.riddleQues" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="MainActivity"
            android:label="Puzzle of the Day" >
            <intent-filter>
            <action android:name="android.intent.action.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        <activity
            android:name=".SQLHint"
            android:label="Puzzle of the Day"
            android:theme="@android:style/Theme.Black.NoTitleBar"
             >

            <intent-filter>
                <action android:name="android.intent.action.SQLHint" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SQLAns"
            android:label="Puzzle of the Day" 
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SQLAns" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".otherPuzzles"
            android:label="Puzzle of the Day" 
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.otherPuzzles" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".widget" android:label="Puzzle of the Day">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" ></action>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_stuff" ></meta-data>
        </receiver>
    	<activity android:name=".widgetConfig" android:label="Puzzle of the Day">
    	    <intent-filter>
    	        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
    	    </intent-filter>
    	    
    	</activity>
	
	</application>
</manifest>
